@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Chillax', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}